<section class="somme-section">
    <div nz-row nzJustify="center" >
        <div nz-col nzSpan="22">
            <h1>Qui somme nous : </h1>
            <hr>
            <div nz-row nzJustify="center">
                <div nz-col nzSpan="14">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ducimus reprehenderit quae aliquid tenetur voluptates? Recusandae laborum sit ut. Excepturi voluptatum iste ipsa consequatur? Voluptatem quaerat eum voluptatibus hic quisquam, deleniti assumenda eaque libero mollitia cumque magni id ad repudiandae. Nulla autem saepe vitae ea, totam tempora ipsum enim. Voluptatibus.</p>
                </div>
                <div nz-col nzSpan="10">
                    <img src="../../../../assets/images/somme.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>