<section class="encore-section">
    <div nz-row nzJustify="center" >
        <div nz-col nzSpan="22">
            <h1>Encore Plus</h1>
            <hr>
            <div nz-row nzJustify="center">
                <div nz-col nzSpan="8">
                    <h3>Card title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error vitae nam vel. Dignissimos pariatur aliquam, quod autem sed est.</p>
                    <button nz-button nzType="primary">
                        Go forward
                        <i nz-icon nzType="right"></i>
                    </button>
                </div>
                <div nz-col nzSpan="8">
                    <h3>Card title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error vitae nam vel. Dignissimos pariatur aliquam, quod autem sed est.</p>
                    <button nz-button nzType="primary">
                        Go forward
                        <i nz-icon nzType="right"></i>
                    </button>
                </div>
                <div nz-col nzSpan="8">
                    <h3>Card title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error vitae nam vel. Dignissimos pariatur aliquam, quod autem sed est.</p>
                    <button nz-button nzType="primary">
                        Go forward
                        <i nz-icon nzType="right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

