<div nz-row nzJustify="center">
    <div nz-col nzSpan="11" class="hero-left">
        <h1 class="hero-title">Application Web Ecole Presentation</h1>
        <p class="hero-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, deleniti nostrum. Inventore nobis id vel voluptas voluptatum esse eaque ipsum et, debitis eos dicta adipisci quidem similique, saepe enim delectus.</p>
        <button nz-button nzType="primary" class="hero-btn" nzBlock>Demande d'inscription</button>
    </div>
    <div nz-col nzSpan="11" class="hero-right">
        <img src="../../../../assets/images/hero.jpg" alt="" srcset="">
    </div>
</div>